/* Editing the Body*/

h2{ font-size: 25px; margin-top: 20px;}

h1, h2,h3,h4,h5,h6 { font-family: sans-serif;}

p, li, span,label , .label{ font-family:  sans-serif; }
li{font-size: 12px;}
:root {
    --bgmain: #F7F7F7;
}
/*---------------Navbar------------------------------*/
.nav-item{
    font-size: 15px;
}
.navbar-brand img{
    height: 40px ;
    width:40px;
} 

/* --Dropdown Menu-- ( Navbaaaar ) ----*/ 
.navbar-nav .dropdown-menu >li >a:hover,
.navbar-nav .dropdown-menu >li >a:focus {
    background-color: rgb(74, 66, 66);
    color: white;
    padding-left: 25px;
    transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
}

.dropdown-menu{ --bs-dropdown-min-width: 14rem; padding:5px;}
/**---------------------------------- Scrolling----------- */

/*----------------------About Section---------------------------------*/
.about-section img{
    height: 250px;
    width: 250px;
}
/*----------------------Features Section---------------------------------*/
.features {background-color:#343a40; color: white;}

.features-header h2 {word-spacing: 5px; letter-spacing: 6px; }

.features-body span{
    font-weight: bold;
    font-family: monospace;
    font-size: 15px;
    letter-spacing: 1.5px;
}
.features img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/*----------------------Payment Method Section-------------------------------------*/
.payment-methods h2 {
    word-spacing: 5px;
    letter-spacing: 6px;
}
/*---------------------------------Team Section--------------------------------*/
.team-section{
    padding-bottom: 14px;
    background-color: #343a40;
    color: white;
}
.team-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.team-header{
letter-spacing: 5px;
word-spacing: 10px;
}
/*------------------------------Subscribe Section-------------------------------------*/
.subscribe{
    background-color:rgb(44, 161, 220);
    color: white;
}
.subscribe h1{
    letter-spacing: 3px;
    word-spacing: 4px;
}

/*---------------------------Statistics Section---------------------------------------*/
.stats{
background-color: #343a40;
    color: white;
}

.data .h1{
    letter-spacing: 3px;
}

.left-col{
    -webkit-transition:;
    -moz-transition:;
    -o-transition:;
    transition:.5s;
    -ms-transition:;
}

.left-col:hover {
    color:  greenyellow;
}
/*-------------------- Most Commonly Selling Cars-------------------------------*/
.selling{
    background-color:rgb(44, 161, 220) ;
    color: white;
}
.progress{
    height: 25px;
    padding-left: 0px;

}

/*--------------------------------- Used Cars--------------------------*/

/*-----------------------Contact Us Section----------------------------*/
.contact-us{
    color: white;
    min-height: 300px;
    background-image: url(/images/9-ContactUs/contact-us-background.webp);
    background-position: center;
  
}
.background-pic{
    background-color: rgb(5, 5, 5,.3);
    min-height: 300px;
}

.contact-us .container{
    padding-top: 10px;
    padding-bottom: 70px;
}

.contact-us textarea{
    width: 100%;
margin-bottom: 7px;
    height: 100px;
}
.contact-us form input {
    width: 100%;
}
.text-butt{
    margin-top:7px
}
.row .user{
    margin-bottom: 20px;
    margin-top: 10px;
}
.contact-us form{
    margin-bottom: 7px;
}
/*----------------------------------Footer--------------------------------*/
.footer{
    background: #343a40;
    color: white;
}
.sitemap-header , .article{
    letter-spacing: 3px;
}

.footer h1{
    letter-spacing: 4px;
    color: rgb(44, 161, 220);
}
.fa-facebook-square {
    color: blue;
    font-size: 2em;
}
i.fab.fa-whatsapp-square {
    color: green;
    font-size: 2em;
}
i.fab.fa-twitter-square {
    color: rgba(17, 205, 234, 0.719);
    font-size: 2em;
}

/*-------------- Grouping----------*/
.team-section ,.stats , .contact-us{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

